.header-site-header {
  padding: 30px;
  background-color: #2C2C2C;
  min-height: 100px;
}

.header__container {
  max-width: 1146px;
  margin: auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:950px) {
  .header__container {
    flex-wrap: wrap;
  }
}