.Header-site-header {
  /* border: 1px solid orangered; */
  padding: 30px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.Header-site-header {
  grid-area: h;
}