.hire-us {
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  position: relative;
}

.hire-us::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -3px;
  background-color: #2060F6;
  transition: width .5s;
}

.hire-us:hover::before {
  width: 100%;
}