* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1a1a1a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h h"
    "m m s"
    "f f f";
  row-gap: 50px;
  column-gap: 20px;
}