.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
  row-gap: 20px;
  background: #E5E5E5;
}

.main {
  grid-area: m;
}

section {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

section>h2 {
  text-align: center;
}

section>div {
  color: rgb(45, 44, 41);
  line-height: 25px;
}

.main__article {
  max-width: 1200px;
}

.main__title {
  color: #253757;
}

.main__body {
  text-align: justify;
  font-size: 15px;
  color: #6C788B;
}